.info-row{
    display: flex;  
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}
.info-label{
    margin-left: 10px;
}
.info{
    margin-right: 10px;
}

@media(max-width: 800px){
    .info-row{
        width: 100%;
        
    }
}