.header {
    display: flex;
    top: 0;
    width: inherit;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #0097A7;
    color: #FFFFFF;
    box-shadow: 2px 5px 5px #888888;
  }
  .container-title{
      display: flex;
  }
  .container-logout{
    display: flex;
    width: auto;
    margin: 20px 5px;
    justify-content: space-around;
  }
